@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito&family=Roboto&display=swap');

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

aside, h2, h3, #hideCanvasBtn, label, .rate, header {
    font-family: 'Nunito', sans-serif;  
}

p, h4,h5, footer {
    font-family: 'Roboto', sans-serif;
}

/* header */
aside {

    position: fixed;
    left: 85vw;
    width: 15vw;
    height: 100vh;
    z-index: 10;
    background-color: white;

    display: flex;
    justify-content:space-between;
    align-items:center;
    flex-direction: column;
}



#logo {
    margin-top: 2rem;
}

#logo img {
    width: 3rem;
    height: auto;
}

ul {

    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

li {
    border: 0.125rem solid white;
    border-radius: 1rem;
    padding: 0.25rem;
    margin-top: 0.5rem;
    font-size: 1.15rem;
    transition: border-color 0.3s linear;
}

a {
    text-decoration: none;
    color: black;
    cursor: default;
}

#drowBtns {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 3px solid #DCDCDC;
    width: 100%;
    vertical-align: center;
}

#hideCanvasBtn, #howDrowBtn {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 80px;
    height: 70px;
    border-radius: 0.3rem;
    font-size: 1rem;
    border: 2px solid white;
    transition: border-color 0.25s linear;
    background-color: #008B8B;
    color: white;

}

#mobile {
    display: none;
}

@media only screen and (min-width: 1024px) {
    header {
        display: none;
    }
    li:hover {
        border: 0.125rem solid orangered;
    }
    #hideCanvasBtn:hover, #howDrowBtn:hover {
        border-color: black;
    }
    li:active {
        background-color: rgba(210,180,140,1);
        border-color: rgba(210,180,140,1);
    }
}

@media only screen and (max-width: 768px) {
    header {
        display: none;
    }
    li {
        border: 0.125rem solid rgba(255, 69, 0, 1);
    }

    aside nav {
        padding-top: 20%;
    }

    aside nav li {
        margin-top: 25%;
        font-size: 0.85rem;
        padding: 0.15rem;
    }

    aside {
        justify-content: center;
    }
    
    #drowBtns {
        display: none;
    }

}

@media only screen and (max-width: 500px) {
    .tabletAndDesctop {
        display: none;
    }

    header {
        position: fixed;
        box-sizing: border-box;
        background-color: white;
        height: 70px;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items:center;
        flex-direction: row;
        font-size: 0.85rem;
        z-index: 3;
        
    }
    header ul {
        height: 40px;
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    #logo img {
        margin-left: 50%;
        padding-bottom: 50%;
    }


    header ul li {
        width: 5rem;
        padding: 0.15rem;
    }

}

@media only screen and (max-width: 426px){
    header {
        font-size: 0.65rem;
        
    }
    header ul li {
        width: auto;
    }
    header ul li a{
        padding: 0.3rem;
    }
}

@media only screen and (max-width: 376px) {
    header {
        font-size: 0.5rem;
        display: block;
        padding-top: 10px;
    }

    header ul {
        width: 100%;
    }

    #logo {
        display: none;
    }

}


/* main */
#intro {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(30deg, #2F4F4F, #A9A9A9, orangered);
    box-sizing: border-box;
    padding-top: 5rem;
    z-index: 0;
}

h1 {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 5rem;
    margin: 1em 5em 0 2em;
    z-index: 1;
    
}

#name-login {
    text-decoration: underline;
}

canvas {
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    z-index: 1;
}

@media only screen and (max-width: 768px){
    #intro {
        height: 100vh;
        width: 85vw;
    }
    h1 {
        font-size: 4rem;
        margin-top: 0.5em;
        margin-left: 0.5em;
    }

    canvas {
        display: none;
    }
}

@media only screen and (max-width: 376px) {
    h1 {
        font-size: 3.5rem;
    }
}

/*common*/

.left-side{
    box-sizing: border-box;
    width: 45%;

}

.right-side {
    box-sizing: border-box;
    width: 45%;
    margin-left: 5%;  
}
#about, #work {
    height: 75vh;
    width: 85vw;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
}

#about .left-side::-webkit-scrollbar, #work .right-side::-webkit-scrollbar {
    display: none;
}

#about .right-side, #work .left-side {
    border-radius: 1rem;
    text-align: center;
}

#about .right-side h2, #work .left-side h2 {
    position: relative;
    top: 45%;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: white;
}

#about .left-side, #work .right-side {
    box-sizing: border-box;
    overflow-y: scroll;
    border: 0.25rem solid rgba(0,128,128,1);
    border-radius: 1rem;
    
}

@media only screen and (max-width: 500px){
    #intro, #about, #work, footer {
        width: 100vw;
    }
    
}

/* about */

#about{
    flex-direction: row-reverse;
}

#about .right-side {
    background: linear-gradient(210deg, #aba7a5,#6f7e7e 50%, #9400D3);
}

#about .left-side {
    padding: 0.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#about img {
    width: auto;
    height: 15rem;
    border-radius: 0.5rem;
  
}

#about h3 {
    text-align: center;
}

#about figure {
    margin: 0;
}

#about figure {
    display: flex;
    border: 4px solid black;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills-container i {
    margin: 0.25rem 0.5rem 0 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .skills-container {
        justify-content: flex-start;
    }

    .skills-container i {
        margin: 0.25rem 0.5rem 0 0.5rem;
    }
    
}

@media only screen and (max-width: 426px){
    #about {
        flex-direction: column;
        height: auto;
        padding-top: 70px;
    }
    
    #about .right-side, .left-side {
        position: static;
        box-sizing: border-box;
        width: auto;
        height: auto;
        margin: 2rem 5% 2rem;
    }

    #about .left-side {
        height: 25rem;
    }

    #about .right-side h2 {
        top: 0;
    }

}

@media only screen and (max-width: 376px) {
    #about .right-side h2 {
        font-size: 2.5rem;
    }
}

        /*work*/

#work {
    flex-direction: row;    
}

#work .left-side {
    background: linear-gradient(180deg,#9400D3 40%, #FA3E54 );
}

#work .project-container {
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    height: 250vh;
    background: linear-gradient(180deg, #9400D3 , #FA3E54);

}

#work .project {
    width: 100%;
    height: 300px;
    background-size: cover;
}

#work #project-1 {
    background-image: url('../images/HTML-CSS-Cheatsheet.jpg');
}

#work #project-2 {
    background-image: url('../images/web-style-guide.jpg');
}

#work #project-3 {
    background-image: url('../images/endless-space-project.jpg');
}

#work #project-4 {
    background-image: url('../images/health-club.jpg');
}

#work #project-5 {
    background-image: url('../images/portfolio_project.jpg');
}


#work .projectOnHover {
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#work .projectOnHover h3 {
    margin-top: 0;
}

.projectOnHover a {
    color: white;
    text-decoration: underline 3px white;
}

.projectOnHover a:hover {
    color: #aba7a5;
}

@media only screen and (max-width: 426px) {
    #work {
        flex-direction: column;
        height: auto;
        margin: 0;
        padding-top: 70px;
    }
    
    #work .right-side, .left-side {
        position: static;
        box-sizing: border-box;
        width: auto;
        height: auto;
        margin: 2rem 5% 2rem;
    }

    #work .right-side {
        height: 25rem;
    }
}

@media only screen and (max-width: 376px) {
    #work .left-side h2 {
        font-size: 2.5rem;
    }
}
/* footer*/

footer {
    box-sizing: border-box;
    height: auto;
    width: 81vw;
    margin: 2% 2rem 2% 2%;
    padding-bottom: 0.25rem;
    background: linear-gradient(150deg, #FA3E54 40%, #FF8B3F);
    border-radius: 1rem;
}

footer a {
    color: #aba7a5;
    margin-left: 2%;
}

footer h3 {
    margin-bottom: 0;
    text-align: center;
}

footer #creator {
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
    footer {
        box-sizing: border-box;
        width: auto;
        margin: 2rem 3% 2rem;
    }
}

@media only screen and (max-width: 425px) {
    footer {
        box-sizing: border-box;
        margin: 2rem 5% 2rem;
    }
}

/*for form html (contacts)*/

.form {
    background: linear-gradient(30deg, orangered, violet);
    height: 100vh;
}

.button-canvas {
    opacity: 0;
}

.contact-form {
    width: 85vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}


#sayThanks {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    background-color: #2F4F4F;
    border-radius: 1rem;
    color: white;
    text-align: center;


}

#sayThanks h1 {
    box-sizing: border-box;
    margin: 0;
    padding: 2rem;
}

form {
    width: 100%;
    height: 100%;
}

#form-h2 {
    padding: 5% 0 4%;
    margin: 0;
}

input {
    font-size: 1rem;
    border-radius: 0.5rem;
    margin: 1% 0 5%;
    height: 20px;
    width: 80%;
}

textarea {
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 80%;
}

#rate{
    width: 30%;
}

#submit {
    margin: 0 0 1% 0;
    width: 30%;
    height: 5%;
}

@media only screen and (min-width:1024px){

    #submit:hover{
        background-color: orangered;
    }
}

@media only screen and (max-width: 768px){
    .contact-form {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #sayThanks {
        margin: 0;
    }

    #sayThanks h1 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width:500px) {
    #header-form {
        position: static;
    }
    .contact-form{
        box-sizing: border-box;
        margin-top: 1%;
        height: 100vh;
        width: 100vw;
        
    }
    #sayThanks {
        width: 80vw;
    }

    #sayThanks h1 {
        font-size: 3.5rem;
    }
    
}

@media only screen and (max-width: 376px) {
    #sayThanks h1 {
        font-size: 2.5rem;
    }
}
/*references*/

#references {
    box-sizing: border-box;
    text-align: center;
    width: 60%;
    background-color: #2F4F4F;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    margin-top: 5%;
}

#references-container a {
    color: white;
    cursor: pointer;
}

#references-container {
    display: flex;
    justify-content: space-evenly;
}










    


